@font-face {
    font-family: GameFont;
    src: url("mplus-1m-regular.ttf");
}

@font-face {
    font-family: AckiPreschool;
    src: url("AckiPreschool.ttf");
}

@font-face {
    font-family: Kindergarden;
    src: url("Kindergarden.ttf");
}

@font-face {
    font-family: RetroComputer;
    src: url("RetroComputer.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
